In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Data/NSQ_OneYear100test_Sept21.csv")

In [4]:
# read csv file
df

,Unnamed: 0,BarTime,Local_Date_Time,RIC,Open,High,Low,Close,VWAP,NumberOfTrades,Volume
0,0,2020-09-01 13:30:00+00:00,2020-09-01 09:30:00,AAPL.O,132.76,132.92,131.49,131.6700,132.656,7032,5143217.0
1,1,2020-09-01 13:31:00+00:00,2020-09-01 09:31:00,AAPL.O,131.71,132.00,131.32,131.6852,131.696,4657,1089138.0
2,2,2020-09-01 13:32:00+00:00,2020-09-01 09:32:00,AAPL.O,131.66,132.00,131.13,131.8100,131.554,4668,1062337.0
3,3,2020-09-01 13:33:00+00:00,2020-09-01 09:33:00,AAPL.O,131.81,131.83,130.81,130.9047,131.158,5074,1147498.0
4,4,2020-09-01 13:34:00+00:00,2020-09-01 09:34:00,AAPL.O,130.91,131.39,130.89,131.3300,131.134,4179,915152.0
...,...,...,...,...,...,...,...,...,...,...,...
9509788,9509788,2021-09-01 19:55:00+00:00,2021-09-01 15:55:00,ZM.O,291.00,291.08,290.89,290.9300,290.973,257,33071.0
9509789,9509789,2021-09-01 19:56:00+00:00,2021-09-01 15:56:00,ZM.O,290.92,290.98,290.83,290.8975,290.903,179,22543.0
9509790,9509790,2021-09-01 19:57:00+00:00,2021-09-01 15:57:00,ZM.O,290.85,290.92,290.80,290.8200,290.851,275,42320.0
9509791,9509791,2021-09-01 19:58:00+00:00,2021-09-01 15:58:00,ZM.O,290.82,290.91,290.71,290.8000,290.807,359,42121.0
9509792,9509792,2021-09-01 19:59:00+00:00,2021-09-01 15:59:00,ZM.O,290.79,290.98,290.74,290.7500,290.826,555,84682.0

In [5]:
# divide the Local_Date_Time column into Date and Time columns
df = df.iloc[:, 1:]
df['Date'] = pd.to_datetime(df['Local_Date_Time'], format='%Y-%m-%d').dt.date
df['Time'] = pd.to_datetime(df['Local_Date_Time'], format='%Y-%m-%d').dt.time

df = df[['BarTime', 'Date', 'Time', 'RIC', 'Open', 'High', 'Low', 
         'Close','VWAP', 'NumberOfTrades', 'Volume']]

In [6]:
df

,BarTime,Date,Time,RIC,Open,High,Low,Close,VWAP,NumberOfTrades,Volume
0,2020-09-01 13:30:00+00:00,2020-09-01,09:30:00,AAPL.O,132.76,132.92,131.49,131.6700,132.656,7032,5143217.0
1,2020-09-01 13:31:00+00:00,2020-09-01,09:31:00,AAPL.O,131.71,132.00,131.32,131.6852,131.696,4657,1089138.0
2,2020-09-01 13:32:00+00:00,2020-09-01,09:32:00,AAPL.O,131.66,132.00,131.13,131.8100,131.554,4668,1062337.0
3,2020-09-01 13:33:00+00:00,2020-09-01,09:33:00,AAPL.O,131.81,131.83,130.81,130.9047,131.158,5074,1147498.0
4,2020-09-01 13:34:00+00:00,2020-09-01,09:34:00,AAPL.O,130.91,131.39,130.89,131.3300,131.134,4179,915152.0
...,...,...,...,...,...,...,...,...,...,...,...
9509788,2021-09-01 19:55:00+00:00,2021-09-01,15:55:00,ZM.O,291.00,291.08,290.89,290.9300,290.973,257,33071.0
9509789,2021-09-01 19:56:00+00:00,2021-09-01,15:56:00,ZM.O,290.92,290.98,290.83,290.8975,290.903,179,22543.0
9509790,2021-09-01 19:57:00+00:00,2021-09-01,15:57:00,ZM.O,290.85,290.92,290.80,290.8200,290.851,275,42320.0
9509791,2021-09-01 19:58:00+00:00,2021-09-01,15:58:00,ZM.O,290.82,290.91,290.71,290.8000,290.807,359,42121.0
9509792,2021-09-01 19:59:00+00:00,2021-09-01,15:59:00,ZM.O,290.79,290.98,290.74,290.7500,290.826,555,84682.0

In [7]:
df_RIC = df.groupby(["RIC"])
df_RIC.count()

,BarTime,Date,Time,Open,High,Low,Close,VWAP,NumberOfTrades,Volume
RIC,,,,,,,,,,
AAPL.O,98312,98312,98312,98312,98312,98312,98312,98312,98312,98312
ADBE.O,97469,97469,97469,97469,97469,97469,97469,97469,97469,97469
ADI.O,98076,98076,98076,98076,98076,98076,98076,98076,98076,98076
ADP.O,96649,96649,96649,96649,96649,96649,96649,96649,96649,96649
ADSK.O,94545,94545,94545,94545,94545,94545,94545,94545,94545,94545
...,...,...,...,...,...,...,...,...,...,...
WBA.O,98286,98286,98286,98286,98286,98286,98286,98286,98286,98286
WDAY.O,95658,95658,95658,95658,95658,95658,95658,95658,95658,95658
XEL.O,98019,98019,98019,98019,98019,98019,98019,98019,98019,98019
XLNX.O,96494,96494,96494,96494,96494,96494,96494,96494,96494,96494
ZM.O,98147,98147,98147,98147,98147,98147,98147,98147,98147,98147

In [8]:
# list of companies in an array
l_company = df["RIC"].unique()

In [9]:
# for someone not too familiar with python
def find_company_index(company_name):
    index = np.where(l_company == company_name)[0][0]
    return index

# example
index = find_company_index("AAPL.O")
print(index)

0

In [9]:
# calling a set of data specific to a company (example)
# use an array so that it's easier to use loops
df_RIC.get_group(l_company[0])

,BarTime,Date,Time,RIC,Open,High,Low,Close,VWAP,NumberOfTrades,Volume
0,2020-09-01 13:30:00+00:00,2020-09-01,09:30:00,AAPL.O,132.760,132.92,131.490,131.6700,132.656,7032,5143217.0
1,2020-09-01 13:31:00+00:00,2020-09-01,09:31:00,AAPL.O,131.710,132.00,131.320,131.6852,131.696,4657,1089138.0
2,2020-09-01 13:32:00+00:00,2020-09-01,09:32:00,AAPL.O,131.660,132.00,131.130,131.8100,131.554,4668,1062337.0
3,2020-09-01 13:33:00+00:00,2020-09-01,09:33:00,AAPL.O,131.810,131.83,130.810,130.9047,131.158,5074,1147498.0
4,2020-09-01 13:34:00+00:00,2020-09-01,09:34:00,AAPL.O,130.910,131.39,130.890,131.3300,131.134,4179,915152.0
...,...,...,...,...,...,...,...,...,...,...,...
98307,2021-09-01 19:55:00+00:00,2021-09-01,15:55:00,AAPL.O,152.430,152.46,152.385,152.4400,152.428,2355,487520.0
98308,2021-09-01 19:56:00+00:00,2021-09-01,15:56:00,AAPL.O,152.440,152.47,152.420,152.4400,152.445,2084,356602.0
98309,2021-09-01 19:57:00+00:00,2021-09-01,15:57:00,AAPL.O,152.450,152.47,152.400,152.4600,152.438,1869,339385.0
98310,2021-09-01 19:58:00+00:00,2021-09-01,15:58:00,AAPL.O,152.460,152.50,152.430,152.4801,152.461,2263,512189.0
98311,2021-09-01 19:59:00+00:00,2021-09-01,15:59:00,AAPL.O,152.485,152.56,152.460,152.5400,152.501,4288,868164.0

In [ ]:
df.to_csv("Data/cleaned_data.csv")

In [46]:
df['sigma_t'] = np.sqrt(0.5 * np.square(np.log(df['High']) - np.log(df['Low'])) 
                        - (2 * np.log(2) - 1) * np.square(np.log(df['Close']) - np.log(df['Open'])))
df.head()

,BarTime,Date,Time,RIC,Open,High,Low,Close,VWAP,NumberOfTrades,Volume,Vohlc,sigma_t
0,2020-09-01 13:30:00+00:00,2020-09-01,09:30:00,AAPL.O,132.76,132.92,131.49,131.6700,132.656,7032,5143217.0,0.090142,0.005678
1,2020-09-01 13:31:00+00:00,2020-09-01,09:31:00,AAPL.O,131.71,132.00,131.32,131.6852,131.696,4657,1089138.0,0.057945,0.003650
2,2020-09-01 13:32:00+00:00,2020-09-01,09:32:00,AAPL.O,131.66,132.00,131.13,131.8100,131.554,4668,1062337.0,0.073373,0.004622
3,2020-09-01 13:33:00+00:00,2020-09-01,09:33:00,AAPL.O,131.81,131.83,130.81,130.9047,131.158,5074,1147498.0,0.054571,0.003438
4,2020-09-01 13:34:00+00:00,2020-09-01,09:34:00,AAPL.O,130.91,131.39,130.89,131.3300,131.134,4179,915152.0,0.028859,0.001818

In [65]:
df_sigma = df.groupby(['RIC', 'Date'])['sigma_t'].mean().reset_index()
df_sigma['ewma'] = 0

for ticker in l_company:
    df_sigma.loc[df_sigma['RIC'] == ticker, 'ewma'] = pd.DataFrame.ewm(df_sigma.loc[df_sigma['RIC'] == ticker, 'sigma_t'], span=20).mean()

df_sigma.head()

      RIC        Date   sigma_t      ewma
0  AAPL.O  2020-09-01  0.000883  0.000883
1  AAPL.O  2020-09-02  0.001616  0.001268
2  AAPL.O  2020-09-03  0.001978  0.001528
3  AAPL.O  2020-09-04  0.002919  0.001930
4  AAPL.O  2020-09-08  0.001982  0.001943

In [64]:
df_sigma.to_csv("Data/daily_avg_vol.csv")